.app {
    box-sizing: border-box;
}

.app-header {
    background-color: #222;
    color: white;
    overflow: hidden;
    padding: 20px;
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
    display: inline-block;
    float: left;
    height: 80px;
}

.app-title {
    display: inline-block;
    float: left;
    font-size: 1.5em;
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.app-footer {
    background-color: #ccc;
    padding: 20px;
}

.add-entry {

}

.add-entry .date {
    margin-bottom: 10px;
}

.entries {
    border: 1px solid #000;
    padding: 20px;
}

.entry {
    border: 1px solid #000;
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 20px;
    padding: 20px;

}

.entry .title {
    margin-left: 20px;
}
